
/*Classes For Styling*/
.textAlignCenter{
    text-align: center;
}
li{
    margin: 1em 0 1em 0;
}

header{

    width: 100%;
    height: 100%;
    background-image: url("../images/chalkBoard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 15%;  
    border-bottom-right-radius: 15%;
    color: whitesmoke;

}

body{
    height: 100%;
    width: 100%;
    background-image: url("../images/body_floor.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.wrapper{
    margin: 20px auto;
    max-width: 960px;
    border: 2px solid blue;
    align-items: center;
    justify-content: space-around;  
    flex-wrap: wrap;
    background-image: url("../images/wrapper_desk.jpeg");
    background-repeat: no-repeat;
    background-size: cover; 
}

#input{
    margin:1em auto;
    height: 3em;
    width: 20em;
    
}

#button_NewTodo{
    margin-bottom:1em; 
    background-color: rgb(2, 137, 16);
}



.wrapper_box{
    min-width: 30%;
    max-width: 80%;
    border: 2px solid red;
    justify-content: space-around;
    text-align: center;
    height: 500px;
    margin: 3em;
    background-image: url("../images/paper_todods.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    max-height: 50%;
    width: 100%;
    border: 2px solid green;
    background-image: url("../images/chalkBoard.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15%;  
    border-top-right-radius: 15%;
}

.footer_box{
    text-align: center;
    
    color: whitesmoke;   
}

footer .socialIcons a{
    color: whitesmoke;;  
}

footer p{
    padding:0 1em;
}

.footer_box:nth-child(2){
    margin: 2em 0 2em 0;
}

.socialIcons{
    font-size: 4em;
    display: flex;
    justify-content:space-around;    
}

  @media screen and (min-width: 600px) {
      
      .wrapper{
          display: flex;
      }

      .wrapper_box{
        min-width: 300px;
        max-width: 500px;
        border: 2px solid red;
        justify-content: space-around;
        text-align: center;
        height: 500px;
        margin: 3em;

      }

      footer{
          display: flex;
          justify-content: space-around;

      }
      .footer_box{
        flex-wrap: wrap;
        width: 25%;
      }

      .footer_box:nth-child(2){
        margin: 0;
    }

    
}
